<div class="container-fluid">
    <div class="row" style="margin: 0 10%">
            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
            <script>
                var cloudTieConfig = {
                    url: document.location.href,
                    sourceId: "",
                    productKey: "43647e7e65b44ce5ad654a9dfde48a81",
                    target: "cloud-tie-wrapper"
                };
            </script>
            <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
    </div>
</div>