{% include about.html %}
<div id='footer' class="container-fluid">
    <div class="row-fluid">
        <div class="span12" style="margin-top:20px;margin-bottom:50px">
            <div class='well'>
                <div style="font-size: 1.2em">
                    {% if site.weibo_username %}
                    <p> Weibo:{% include icon-twitter.html username=site.weibo_url usernameb=site.weibo_username %}</p>
                    {% endif %}
                    <p>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                </div>
                <p style="font-size: 1.2em">Copyright © 2016-2116 Github博客 lenggirl.com All Rights
                    Reserved. 备案号：粤ICP备16008312号-1 </p>
                <p>友情链接：<a href="http://beauty.lenggirl.com">缀美画室网站</a>｜<a href="http://www.cnblogs.com/nima">一只尼玛博客园</a>｜<a href="http://www.cnblogs.com/ttyb">TTyb博客园</a>｜</p>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253358117'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1253358117%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </div>
    </div>
</div>

<a class="v-fork-me" href="https://github.com/hunterhug" target="_blank" rel="nofollow">
      <img src="/static/forkme_right_darkblue.png" alt="Fork me on GitHub">
</a>
<a class="btn-to-top" title="返回顶部" target="_self" href="#" style="display:block;width:32px">回顶部</a>
