<footer class="site-footer">

    <div class="wrapper">

        <!--<h2 class="footer-heading">{{ site.title }}</h2>-->
		<!--<h2 class="footer-heading">meme~~</h2>-->
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-3">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        Github:{% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        Weibo:{% include icon-twitter.html username=site.twitter_username usernameb=site.twitterb_username%}
                    </li>
                    {% endif %}
                    <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    <li>
                        Website:<a href="http://www.lenggirl.com">http://www.lenggirl.com</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h1>关于我</h1>
                <p>{{ site.description }}</p>
            </div>
        </div>

    </div>


</footer>
