<!--<header class="site-header">-->

<!--<div class="wrapper">-->

<!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
<!--<p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>-->
<!--<nav class="site-nav">-->
<!--<a href="#" class="menu-icon">-->
<!--<svg viewBox="0 0 18 15">-->
<!--<path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>-->
<!--<path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>-->
<!--<path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>-->
<!--</svg>-->
<!--</a>-->
<!--<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>-->
<!--<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>-->
<!--<div class="trigger">-->
<!--{% for my_page in site.pages %}-->
<!--{% if my_page.title %}-->
<!--<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--</div>-->
<!--</nav>-->

<!--</div>-->

<!--</header>-->
<div id='head'>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a
                    href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="{{ site.baseurl }}/">主页</a>
                        </li>
                        {% for my_page in site.pages %}
                        {% if my_page.title %}
                        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% for category in site.categories %}
                        <li><a class="page-link" href="{{ "/showCategory.html?cat=" | prepend: site.baseurl }}{{ category | first }}">{{ category | first }}<span>-({{ category | last | size }})</span></a></li>
                        {% endfor %}
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <a href="{{"/feed.xml" | prepend: site.baseurl }}">RSS</a>
                        </li>
                        <li class="divider-vertical">
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">下拉菜单<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">下拉导航1</a>
                                </li>
                                <li>
                                    <a href="#">下拉导航2</a>
                                </li>
                                <li>
                                    <a href="#">其他</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">链接3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
