<!--<a class="v-fork-me" href="https://github.com/hunterhug/hunterhug.github.io" target="_blank" rel="nofollow">-->
    <!--<img src="/static/forkme_right_darkblue.png" alt="Fork me on GitHub">-->
<!--</a>-->
<div id='head'>
    <div class="navbar  navbar-default navbar-fixed-top" >
        <div class="navbar-inner">
            <div>
            <div class="container-fluid">
                <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a
                    href="/" class="brand">{{ site.title }}</a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
						<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">文章|Paper<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
							{% for category in site.categories %}
							<li><a class="page-link" href="{{ "/nima.html?cat=" | prepend: site.baseurl }}{{ category | first }}">{{ category | first }}<span>-({{ category | last | size }})</span></a></li>
							{% endfor %}
							</ul>
						</li>
                        <li><a class="page-link" href="/404.html">标签云|Cloud</a></li>
                        <li><a class="page-link"  href="/say.html">留言板|Say</a></li>
			<!--<li><a class="page-link"  href="/zhihu.html">知乎|Zhihu</a></li>-->
                        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">知乎|Zhihu<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li><a class="page-link" href="/zhihu/27761934-html/1.html">如何让自拍的照片看上去像是别人拍的？</a></li>
                                <li><a class="page-link" href="/zhihu/28152313-html/1.html">有一个非常漂亮有很多人追的妹妹是种怎样的体验？</a></li>
                                <li><a class="page-link" href="/zhihu/28467579-html/1.html">做一个可爱的女孩子是一种什么体验？</a></li>
                                <li><a class="page-link" href="/zhihu/36959409-html/1.html">女生长发变短发是种怎样的感受？</a></li>
                                <li><a class="page-link" href="/zhihu/39070696-html/1.html">女孩子如何露齿笑的好看？</a></li>
                                <li><a class="page-link" href="/zhihu/40792901-html/1.html">你见过最美的汉服照是什么样的？</a></li>
                                <li><a class="page-link" href="/zhihu/49434711-html/1.html">女生如何在日常中打扮中穿出二次元的感觉，同时显得得体又不怪异？</a></li>
                            </ul>
                        </li>
                         <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">关于|About<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                           {% for my_page in site.pages %}
							{% if my_page.title %}
							<li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
							{% endif %}
							{% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a class="page-link" href="/404.html"></a></li>
                        {% include links.html %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
