<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">友情|Links<strong class="caret"></strong></a>
    <ul class="dropdown-menu">
        <li><a href="http://ttyb.github.io">百哥么么哒博客</a></li>
        <li><a href="http://www.cjhug.me/front/me/index.html">作品集</a></li>
        <li><a href="https://www.github.com/hunterhug">Github</a></li>
        <li class="divider">
        </li>
        <li><a href="https://yun.baidu.com/share/home?uk=2670395222">百度云</a></li>
    </ul>
</li>