<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">友情链接<strong
            class="caret"></strong></a>
    <ul class="dropdown-menu">
        <li>
            <a href="http://beauty.lenggirl.com">画室网站</a>
        </li>
        <li>
            <a href="http://ei.lenggirl.com">博客作品</a>
        </li>
        <li>
            <a href="http://php.lenggirl.com">早期博客</a>
        </li>
        <li>
            <a href="http://www.cnblogs.com/nima">博客园</a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href='https://www.djangoproject.com/start/'>Django</a>
        </li>
        <li>
            <a href="http://v3.bootcss.com/getting-started/">Bootstrap</a>
        </li>
        <li><a href="http://doc.redisfans.com/">Redis</a></li>
        <li><a href="http://cassandra.apache.org/">Cassandra</a></li>
        <li><a href="http://hbase.apache.org/">hbase</a></li>
    </ul>
</li>