<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">作品|Works<strong class="caret"></strong></a>
    <ul class="dropdown-menu">
        <li><a href="http://beauty.lenggirl.com">ArtWeb</a></li>
        <li><a href="http://ei.lenggirl.com">BlogWeb</a></li>
        <li><a href="http://php.lenggirl.com">FunnyBlog</a></li>
        <li><a href="http://www.cnblogs.com/nima">CnBlog</a></li>
        <li class="divider">
        </li>
        <li><a href="https://yun.baidu.com/share/home?uk=2670395222">资源|Sources</a></li>
        <li><a href='https://www.djangoproject.com/start/'>Django</a></li>
        <li><a href="http://v3.bootcss.com/getting-started/">Bootstrap</a></li>
        <li><a href="http://doc.redisfans.com/">Redis</a></li>
        <li><a href="http://cassandra.apache.org/">Cassandra</a></li>
        <li><a href="http://hbase.apache.org/">hbase</a></li>
    </ul>
</li>