<div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>
                    天气好!
                </h4>
    <p><strong>我是一个伟大的程序员</strong>请注意休息爱护眼睛.昨天你是否还在考虑代码，今天是时候考虑人生了．</p>
    <p>Python,Go,Java,PHP,Matlab,Mysql,Redis,Mongodb,Cassandra,Zookeeper,Kafka,Storm,Hadoop,Hbase</p>
    <p>数据产品开发．．．</p>
</div>
<div>
<ul class="nav nav-list">
    <li class="nav-header">
        分类
    </li>
    <li class="active">
        <a href="hunterhug.github.io">首页</a>
    </li>
    {% for category in site.categories %}
    <li><a href="{{ "/showCategory.html?cat=" | prepend: site.baseurl }}{{ category | first }}">{{ category | first }}<span>-({{ category | last | size }})</span></a></li>
    {% endfor %}
    <li class="divider">
    </li>
    <img class="img1" src="/static/me.gif">
</ul>
</div>
