.gototop {
    width: 144px;
    height: 155px;
    display: none;
    background: url("../tu.png") no-repeat center center;
    position: fixed;
    bottom: 10px;
    right: 1.4%;
    z-index: 99;
    -webkit-animation: hide 350ms ease-out forwards 1;
    animation: hide 350ms ease-out forwards 1;
    -webkit-transition: background-color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out;

}
.gototop1 {
    width: 144px;
    height: 155px;
    display: none;
    background: url("../cao.jpg") no-repeat center center;
    position: fixed;
    bottom: 165px;
    right: 1.4%;
    z-index: 99;
    -webkit-animation: hide 350ms ease-out forwards 1;
    animation: hide 350ms ease-out forwards 1;
    -webkit-transition: background-color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out;

}

.isvisible {
    -webkit-animation: show 1s ease-out forwards 1;
    animation: show 1s ease-out forwards 1;
}

@-webkit-keyframes hide {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    25% {
        opacity: .5;
        -webkit-transform: rotate(-3deg) translateY(-40px);
    }
    75% {
        -webkit-transform: rotate(3deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    25% {
        opacity: .5;
        transform: rotate(-3deg) translateY(-40px);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

@-webkit-keyframes show {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        opacity: .5;
        -webkit-transform: rotate(-3deg) translateY(-40px);
    }
    75% {
        -webkit-transform: rotate(3deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }
}

@keyframes show {
    0% {
        transform: rotate(0deg);
    }
    25% {
        opacity: .5;
        transform: rotate(-3deg) translateY(-40px);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}


.dashang{display:inline-block;background-color: #00a8e6;border-radius: 4px;color: #fff;display: block;font-family: serif;line-height:25px;padding:10px;text-align:center;text-decoration:none;border-radius:4px;font-size:16px;transition: all 0.3s;width: 120px;margin: 5px auto;padding: 5px;font-family: 'serif';}
	.hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
	.shang_box{width:540px;height:540px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-280px;margin-top:-280px;border:1px dotted #dedede;display:none;}
	.shang_box img{border:none;border-width:0;}
	.dashang:hover{opacity:0.8;padding:15px;font-size:18px;}
	.shang_close{float:right;display:inline-block;}
	.shang_logo{display:block;text-align:center;margin:20px auto;}
	.shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url("/static/jpg/cy-reward-title-bg.jpg");font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
	.shang_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
	.shang_payimg{width:140px;padding:10px;margin:0 auto;border-radius:3px;height:140px;}
	.shang_payimg img{display:block;text-align:center;width:140px;height:140px; }
	.pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
	.radiobox{width: 16px;height: 16px;background: url("/static/jpg/radio2.jpg");display: block;float: left;margin-top: 5px;margin-right: 14px;}
	.checked .radiobox{background:url("/static/jpg/radio1.jpg");}
	.shang_payselect{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:280px;}
	.shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
	.shang_info{clear:both;}
	.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}