body{
	margin: auto 20%;
}
.fimage{
	margin-bottom: 20px;
	min-width: 100%
}
.contentline{
	border-bottom:1px solid silver;margin-bottom:10px
}
#content{
	margin-top:50px;
}
p,h1,h2,h3,h4,h5{
    word-wrap: break-word;
}
code{
	word-wrap: break-word;
}
.v-fork-me {
	position: fixed;
	right: 0;
	top: 40px;
	z-index: 999;
}
.btn-to-top {
	background: url("/static/uparrows.png") no-repeat scroll 14px 14px #FCFCFC;
	display: block;
	height: 60px;
	overflow: hidden;
	text-indent: -99em;
	width: 58px;
	border-radius: 0px 0px 7px 7px;
	border: 1px solid #E5E5E5;
	position: fixed;
	right: 20px;
	bottom: 20%;
}

.roll img{
	width: 100%;
	max-width: 100%;
}

.roll{
	width:100%;
	text-align: center;
	margin: 0 auto;
}
.post-content img{
	max-width: 100%;
}

.clickable-header {
  cursor:pointer;
}
.clickable-header:hover {
  text-decoration:underline;
}
.top-level-header {
  display:inline;
}
.back-to-top {
  margin-left:3px;
  cursor:pointer;
}

.tocc{
	  cursor:pointer;
	position: fixed;
	width: 50%;
	height:20px;
	overflow: hidden;
	background-color: #f0f0f0;
filter:alpha(opacity=40);
-moz-opacity:0.4;
opacity:0.4;
}

.tocc:hover{
	width: 50%;
	height: auto;
	color: whitesmoke;
	background-color: gainsboro;
	filter:alpha(opacity=100);
-moz-opacity:1;
opacity:1
}
@media screen and (max-width: 600px) {
body{
	margin: auto 2%;
}
}