---
layout: default
---
<div class="container-fluid" id="content">
    <div class="row">
    <div class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

            <p class="post-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
                </time>
                {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ page.author }}</span></span>{% endif %}
                 {% for tag in page.tags %}
                  • <span><a href="{{ "/tag.html?cat=" | prepend: site.baseurl }}{{tag}}">{{tag}}</a></span>
                 {% endfor %}
            </p>
        </header>
        <script type="text/javascript" src="{{ "/static/js/toc.js" | prepend: site.baseurl }}"></script>
        <div id="toc" class="tocc"></div>
        <script type="text/javascript">
        $(function() {
            $('#toc').toc({ noBackToTopLinks: true,listType: 'ul',showEffect: 'slideDown',classes: { list: 'nav nav-list',
                           item: ''
                         }})
        });
        </script>
        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>
    </div>
        <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
        <a class="jiathis_like_tsina" data="width=120"></a>
        <a class="jiathis_like_qzone"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
    <!-- JiaThis Button END -->
    </div>
</div>